{% extends "base.html" %}

{% block lab %}Лабораторная работа 2{% endblock %}

{% block main %}
<h2>Ромашки</h2>
    <p>Ромашка — это символ чистоты и искренности, нежных и сильных чувств. 
            Также она является знаком силы и выносливости. Специалисты фэн-шуй советуют 
            размещать в доме букеты или вешать картины с изображением растения, утверждая, ч
            то это принесет в семью радость и гармонию.</p>
    <img src=" {{url_for('static', filename='r.jpg') }}">

<h2>Гипсофилы</h2>
    <p>Несмотря на скромный внешний вид гипсофилы, ее нередко можно встретить в 
        различных букетах вместе с другими цветами.
        Само название Гипсофила переводится достаточно прозаично – «любящая известь». 
        Это связано с тем, что многие подвиды данного растения предпочитают известковые 
        почвы. Благодаря своей неприхотливости Гипсофила произрастает почти на всех континентах.
        Срезанный качим может долго сохранять форму и свежесть в вазе, примерно до месяца.
        Неброская красота растения отлично дополняет более яркие цветы. Кроме того, с 
        давних времен гипсофила являлась символом различных чувств и событий, поэтому ее 
        часто дарят в определенных ситуациях.</p>
    <img src=" {{url_for('static', filename='g.jpeg') }}">

<h2>Хризантемы</h2>
    <p>В ряде стран хризантемы являются символом ноябрьских дней 
            - они ассоциируются с грустью и скоротечностью. Между 
            тем в Азии они являются символом радости, здоровья, благополучия 
            и силы. Стоит выйти за рамки печального образа мышления, ведь 
            хризантемы необычайно действенны, радостны, энергичны и могут 
            заинтересовать практически каждого.</p>
    <img src=" {{url_for('static', filename='h.jpg') }}">

<h2>Лилии</h2>
    <p>Благородный цветок, покоривший человечество. Лилия — цветок с 
            богатой и интересной историей, известный еще с 1700 года до нашей эры. 
            Считается, что его название происходит от древнегальского слова «ли-ли», 
            означающего в переводе «белый-белый». Цветок, приобретший поклонников 
            благодаря эстетичности и приятному аромату, уступает по популярности только 
            розе и с нею же соперничает в количестве символических значений.</p>
    <img src=" {{url_for('static', filename='l.jpg') }}">

<h2>Пионы</h2>
    <p>Первые письменные упоминания о пионе датируются II веком нашей эры — и, 
            судя по ним, пионы были любимцами китайских императоров. Изображения пиона 
            встречаются и в вышивках шелком, и на фарфоре, и в традиционной живописи у-син 
            (правда, стоит сказать, что в китайской культуре выше всего ценится древовидный 
            пион, а не махровые сорта, так хорошо известные российским леди). Сегодня пион 
            является одной из официальных эмблем Китая, наряду с цветущей сакурой. </p>
    <img src=" {{url_for('static', filename='pi.jpg') }}">
{% endblock %}
