{% extends "base.html" %}

{% block lab %}Лабораторная работа 6{% endblock %}

{% block main %}
<h1>Добро пожаловать, {{ username }}!</h1>
<div style="display: flex; justify-content: space-between;">
    <p style="color: rgb(3, 38, 13);">База знаний</p>
    <div style="text-align: center;">
        <a href="/lab6/articles" style="  color: #fff;text-decoration: none;padding: 10px;background-color: rgb(20, 100, 28)">Посмотреть статьи</a>
        <a href="/lab6/add_article" style="  color: #fff;text-decoration: none;padding: 10px;background-color: rgb(20, 100, 28)">Добавить статью</a>
    </div>
    <div>
        <a href="/lab6/login" style="  color: #fff;text-decoration: none;padding: 10px;background-color: rgb(20, 100, 28)">Логин</a>
        <a href="/lab6/register" style="  color: #fff;text-decoration: none;padding: 10px;background-color: rgb(20, 100, 28)">Регистрация</a>
        <a href="/lab6/logout" style="  color: #fff;text-decoration: none;padding: 10px;background-color: rgb(20, 100, 28)">Выход</a>
        <span>{{username}}</span>
    </div>
</div>
{% endblock %}